* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.restartDiv {
  padding-top: 7vh;
  padding-right: 4vh;
  padding-bottom: 7vh;
  padding-left: 4vh;
  background-color: rgb(237, 246, 250);
  font-size: calc(0.6rem + 0.4vw);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
